<ol>
  <%= f.fields_for :sublists do |sublists_form| %>
    <li class='task'>
      <%= sublists_form.label :description %>
      <%= sublists_form.text_field :description %>
      <button class='add-subtask'>Add Subtask</button>
      <button class='delete-task'>Delete this Task</button>
      <%= render_sublist_form(sublists_form, counter - 1) %>
    </li>
  <% end %>
  <button class='add-task'>Add Another Task</button>
</ol>