<h2>My Lists</h2>

<% @lists.each do |list| %>
  <span class='block'><%= link_to list.description, list_path(list) %></span>
  <span class='block'>Owned by: <%= list.user.email %></span>
  <br>
<% end %>